@import url(/css/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100vw;
}

.left-side{
    display: none;
}

.main-container{
    width: 100%;
    font-family: var(--font);
    color: var(--font-color);
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.616) 41.98%, rgba(255, 255, 255, 0.8) 100%), 
    url("/assets/images/col.png"); */
    background: url("/assets/images/col.png");
    background-position: cover cover;
    background-repeat: no-repeat; 
}

/* HEADER STYLE */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin: 52px 0 144px 0;
    width: 100%;
}

.logo{
    fill: var(--font-color);
}

.logo-title{
    font-size: 32px;
    font-weight: 600;
}
/* END HEADER STYLE */

/* DESCRIPTION STYLE */
.desc{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.description{
    font-size: 32px;
    font-weight: 700;
}

.desc-par{
    font-size: 18px;
    font-weight: 400;
}
/* END DESCRIPTION STYLE */

/* FORM STYLE */
#form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 16px;
    padding: 32px 0 24px;
    width: 100%;
}

.form-title{
    font-size: 24px;
    font-weight: 600;
}

.input-column{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.space{
    font-size: 16px;
    font-weight: 600;
}

.fr{
    margin-bottom: 24px;
}

.input-style{
    border: 1px solid rgba(62, 51, 78, 0.6);
    border-radius: 8px;
    height: 56px;
    font-size: 16px;
    font-family: var(--font);
    padding: 0 16px;
    outline: hidden;
    outline-color: white;
    outline-style: none;
}

.log{
    border: none;
    outline: hidden;
    outline-color: white;
    outline-style: none;
    padding-left: 5px;
}

.input-and-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(62, 51, 78, 0.6);
    border-radius: 8px;
    padding: 0 16px;
    background-color: white; 
}

.fa-eye-slash{
    color: var(--eye-color);
    font-size: 20px;
}
/* END FORM STYLE */

/* EXTRA STYLE */
.extra{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 100%;
}

.check-txt{
    display: flex;
    gap: 8px;
    font-size: 16px;
    color: var(--font-color);
}

.check-box{
    width: 13px;
    accent-color: var(--font-color);
}

.extra a{
    color: var(--font-color);
    font-size: 16px;
}
/* END EXTRA STYLE */

/* BUTTONS CONTAINER */
.buttons-container{
    display: flex;
    justify-content: center;
    gap: 2px;  /* change 24px */
    margin: 24px 0;
    width: 100%;
}

.same{
    height: 48px;
    width: 178px;
    border-radius: 8px;
}

.login-style{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: linear-gradient(270deg, #FB6564 0%, #A03CEA 100%);
    cursor: pointer;
}

.signup-style{
    border: 1px solid var(--font-color);
    font-size: 16px;
    color: var(--font-color);
    font-weight: 600;
    cursor: pointer;
}
/* END BUTTONS CONTAINER */

/* FOOTER STYLE */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-txt{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.acc-container{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 1px;  /* change 16px  */
}

.acc-container a{
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    width: 116px;
    height: 38px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--font-color);
}
/* END FOOTER STYLE */

/* TABLET SCREEN SIZE */
@media only screen and (min-width: 500px) {

    .main-container{
        padding: 0 10px;
        height: 100vh;
    }

    .buttons-container{
        gap: 24px;
    }

    .acc-container{
        gap: 16px;
    }

}

@media only screen and (min-width: 650px) {
   .header{padding-left: 40px;}
   .desc{padding-left: 60px;}
   .buttons-container{gap: 35px;}
   .acc-container{gap: 24px;}
}

/* DESKTOP SCREEN SIZE */
@media only screen and (min-width: 1024px){

    body{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        overflow-x: hidden;
    }

    .left-side{
        background: url(/assets/images/col.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-side{
        background: none;
        margin-top: 100px;
        padding: 30px;
    }

    .header{
        padding-left: 10px;
        margin-bottom: 40px;
    }

    .desc{
        padding-left: 10px;
    }

    .trans-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        background: rgba(255, 255, 255, 0.5);
        width: 746px;
        height: 613px;
        padding-left: 88px;
    }

    .service-title{
        font-size: 48px;
        font-family: var(--font);
        font-weight: 600;
        color: #ffffff;
        line-height: 120%;
        letter-spacing: 0.6px;
    }

    .service-title span{
        color: var(--font-color);
    }

    .trans-box p{
        font-family: var(--font);
        line-height: 150%;
        font-size: 18px;
    }

    .buttons-container{
        gap: 24px;
    }

    .acc-container{
        gap: 16px;
    }
}
